!.htaccess
makesql.php
config/*.ini
cache/templates_c/*.php
cache/imgcache/*.jpg
cache/cache/*.txt
cache/kills/*.txt
cache/assetsCache/*.txt
icons/Renders/*
icons/Types/*
icons/Icons/*
install/install.lock