!.htaccess
makesql.php
config/*.ini
cache/templates_c/*.php
cache/imgcache/*.jpg
cache/imgcache/*.png
cache/cache/*.txt
cache/kills/*.txt
cache/kills/*.xml
cache/assetsCache/*.txt
icons/Renders/*
icons/Types/*
icons/Icons/*
install/install.lock
module/eveorder/templates/status.DE.txt
module/eveorder/templates/status.EN.txt